name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      FORCE_JAVASCRIPT_ACTIONS_TO_NODE20: true

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Display installed packages
      run: pip list

    - name: Debug Slack Webhook URL
      run: echo "SLACK_WEBHOOK_URL=${{ secrets.SLACK_WEBHOOK_URL }}"

    - name: Lint with flake8
      run: |
        flake8 app .env .flaskenv config.py job_candidate_manager.db requirements.txt run.py

    - name: Format code with black
      run: |
        black --check app .env .flaskenv config.py job_candidate_manager.db requirements.txt run.py

    - name: Type check with mypy
      run: |
        mypy app .env .flaskenv config.py job_candidate_manager.db requirements.txt run.py

    - name: Run tests
      run: pytest tests

    - name: Notify Slack on failure
      if: failure()
      run: |
        curl -X POST -H 'Content-type: application/json' --data '{"text":"Build failed!"}' ${{ secrets.SLACK_WEBHOOK_URL }}

    - name: Notify Slack on success
      if: success()
      run: |
        curl -X POST -H 'Content-type: application/json' --data '{"text":"Build succeeded!"}' ${{ secrets.SLACK_WEBHOOK_URL }}
